{% extends 'base.html' %}

{% block head %}
<title>Gerenciador</title>
{% endblock %}

{% block body %}
<div class="conteudo"> 
    <h1>Gerenciador</h1>
    
    {% if tarefas | length < 1 %}
        <h3>Aqui não há tarefas... crie uma aqui!</h3>
    {% else %}
        <table>
            <tr>
                <th>Tarefas</th>
                <th>Data</th>
                <th>Opções</th>
            </tr>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{ tarefa.conteudo }}</td>
                <td>{{ tarefa.criado.strftime("%Y-%m-%d") }}</td>
                <td>
                    <a href="/delete/{{ tarefa.identificador }}">Deletar</a>
                    <br/>
                    <a href="/edit/{{ tarefa.identificador }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
   <div class="conteudo">
    <form action="/" method="POST">
        <input type="text" name="conteudo" id="conteudo" placeholder="Nova tarefa">
        <input type="submit" value="Adicionar tarefa" id="btn_Adicionar">
    </form>
</div>
{% endblock %}

